html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

@font-face {
    font-family: 'Poppins-r' ;
    src: url(fonts/Poppins/Poppins-Regular.ttf);
    font-family: "poppins-bold";
    src: url(fonts/Poppins/Poppins-Bold.ttf);
}
:root{
    font-size: 16px;
    --color-primary:#5E1412;
    --color-secondary:#A04940;
    --white: #F2F2F8;
}
html{
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
    padding: 28px 81px 28px 81px;
    box-sizing: content-box;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: no-repeat url(img/lac-paysage-montagne-dans-hautes-terres-ai-generative.jpg);
    background-size: cover;
}
button,#login,#Register{
    cursor: pointer;
    border-radius: 10px;
    color: var(--white);
    font-weight: 700;
    text-align: center;
    padding: 5px;
}
button{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 1.5rem;
}

.header{
    align-self: flex-end;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-auto-rows: auto;
    align-items: center;
    justify-content: flex-end;
    column-gap: 40px;
}

.header a{
    font-family: 'poppins-bold';
    text-decoration: none;
    color: var(--color-primary);
    font-size:1.5rem;
    font-weight: 400;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header a:hover{
    text-decoration: underline;
}
.header button {
    width: 145px;
    height: 35px;
    border: 4px solid var(--color-secondary);
    background: var(--color-primary);
}
.header button:hover{
    background-color: var(--white);
    color: var(--color-secondary)
}
.wrapper-form,.bloc-setting-fox{
    margin-top: 225px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:27%;
    height:410px;
    border-radius: 10px;
}
.bloc-setting-fox{
    position: absolute;
    min-width:388px;
}
.wrapper-form{
    overflow: hidden;
    min-width:340px;
    background: var(--white);
}
.close{
    cursor: pointer;
    display: flex;
    align-self: flex-end;
    align-items: center;
    justify-content: center;
    width: 12%;
    height: 44px;
    padding:7px 5px;
    border-radius: 0px 10px;
    background: #A04940;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    color: var(--white);
}
.wrapper-template{
    position: relative;
}
.template-form > * + *{
    margin-top: 25px;
}
.template-form:nth-child(2){
    position: absolute;
    top: 0px;
    right: -280px;
}
h2{
    color: var(--color-secondary);
    font-family: 'Poppins-bold';
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}
.champs{
    display: flex;
    justify-content: space-between;
    padding : 3px;
    border-bottom: var(--color-secondary) solid 2px;
}
.wrapper-help{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper-remember{
    display: flex;
    justify-content: center;
}
.wrapper-remember:hover input ~.checkmark{
    background-color: var(--color-secondary);
    opacity: 0.25;
}
.wrapper-remember input:checked ~.checkmark{
    background-color: var(--color-secondary);
}
#remember,#agree{
    opacity: 0;
    z-index: 1;
}
.checkmark{
    position: absolute;
    top: 0;
    left:0;
    display: block;
    height: 12px;
    width: 12px;
    border-radius: 2px;
    border: 1px solid var(--color-secondary);
}
.checkmark::after {
    content:"";
    position: absolute;
    top:0px;
    left: 3px;
    display: none;
    height: 7px;
    width: 3px;
    border: solid 1px var(--white);
    border-width: 0px 3px 3px 0px;
    transform: rotate(40deg);
}
.wrapper-remember input:checked ~.checkmark::after{
    display: block;
}
#login,#Register{
    display: block;
    width: 100%;
    font-size: 1.3rem;
    background: var(--color-secondary);
}
.wrapper-help label,.link{
    color: var(--color-secondary);
    text-decoration: none;
    text-align: center;
    font-size: 0.8rem;
}
.link{
    display: block;
    padding-left: 10px;
}
.link:hover{
    text-decoration: underline;
}
input{
    background:none;
    border: none;
    color: var(--color-secondary);
    margin-right:5px;
    font-weight: 500;
}
input[type='mail'],input[type='password']{
    width:100%;
}
input::placeholder{
    color: var(--color-secondary);
    font-weight: 500;
}
.wrapper-form img{
    width: 20px;
    height: 19px;
}
img[src="img/Fox.png"]{
    position : absolute;
    z-index:-1;
    top:-161px;
    left:104px;
    min-width:303.65px;
    width: 78.1%;
}
img[src="img/pate_gauche.png"]{
    position:absolute;
    z-index: 3;
    top: 43px;
    left:118px;
    min-width:69.2px;
    width: 17.8%;
}
img[src="img/pate_droite.png"]{
    position:absolute;
    z-index: 3;
    top: 43px;
    right:118px;
    min-width:69.2px;
    width: 17.8%;
}
img[src="img/menu.png"]{
    position:absolute;
    width:50px;
    right: 30px;
    opacity: 0;
}

@media screen and (max-width: 835px) {
    .header{
        display:grid;
        opacity: 0;
        position:absolute; 
        top:28px;
        right:28px;
        grid-template-columns: 1fr;
        grid-auto-rows: max-content;
        background-color:var(--white);
        border-radius: 10px;
        padding: 15px;
    }
    .header a{
        font-size:1.2rem;
    }
    body{
        width:100%;
        height:100%;
    }
    button{
        margin-top: 10px;
        font-size: 1.2rem;
        padding: 2px;
    }
    img[src="img/menu.png"]{
        opacity:1;
    }
    img[src="img/Fox.png"]{
        top:-215px;
    }
    img[src="img/pate_droite.png"]{
        top: -11px;
    }
    img[src="img/pate_gauche.png"]{
        top:-11px;
    }
}