html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

@font-face {
    font-family: 'Poppins' ;
    src: url(fonts/Poppins/26084221377.ttf);
}
:root{
    font-size: 16px;
    --color-primary:#5E1412;
    --color-secondary:#A04940;
    --white: #F2F2F8;
}
html{
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
    padding: 28px 81px;
}
body {
    width: 100%;
    height: 730px;
    background: no-repeat url(img/lac-paysage-montagne-dans-hautes-terres-ai-generative.jpg);
    background-size: cover;
}

button{
    cursor: pointer;
    border-radius: 10px;
    color: var(--white);
    font-weight: 700;
    text-align: center;
    font-size: 1.5rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header{
    display: flex;
    justify-content: flex-end;
    column-gap: 80px;
}

.header a{
    text-decoration: none;
    color: var(--color-primary);
    font-size:1.5rem;
    font-weight: 700;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header a:hover{
    text-decoration: underline;
}
.header button {
    width: 145px;
    height: 68px;
    border: 4px solid var(--color-secondary);
    background: var(--color-primary);
}